# Copyright (c) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

if BOARD_MEC1501_ADL_P_PRODRIVE

config BOARD
	default "mec1501_adl_p_prodrive"

#PS/2 driver is compiled in terms of this flag.
config ESPI_PERIPHERAL_8042_KBC
	default n
	depends on ESPI_XEC

if RTOS_TIMER

# XEC RTOS timer HW frequency is fixed at 32768
# The driver requires tickless mode and ticks per
# second to be 32768 for accurate operation.

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

config SYS_CLOCK_TICKS_PER_SEC
	default 32768

endif # RTOS_TIMER

if !RTOS_TIMER

# If RTOS timer is not enabled we use ARM Cortex-M
# SYSTICK. SYSTICK frequency is 48MHz divided by
# SOC_MEC1501_PROC_CLK_DIV.

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 48000000

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

endif # RTOS_TIMER

if SPI

config SPI_XEC_QMSPI
	default y

endif # SPI

config TACH_XEC
	default y
	depends on SENSOR

config WAIT_FOR_PWROK
	default y
	bool "Enable waiting for PWROK"

config VPD_PROGRAM_EEPROM
	bool "Program VPD data into EEPROM"
	default n
	help
	  Enable to program specific VPD data into the EEPROM. This option
	  should only be used to (re)provision the EEPROM, and must not be
	  enabled for board-agnostic production firmware.

comment "VPD fields"
	depends on VPD_PROGRAM_EEPROM

config VPD_SERIAL_NUMBER
	string "Prodrive VPD serial number"
	depends on VPD_PROGRAM_EEPROM
	default ""
	help
	  Serial number to program in VPD, leave empty to skip programming.

config VPD_PART_NUMBER
	string "Prodrive VPD part number"
	depends on VPD_PROGRAM_EEPROM
	default ""
	help
	  Part number to program in VPD, leave empty to skip programming.

config VPD_PROFILE
	int "Prodrive VPD profile"
	depends on VPD_PROGRAM_EEPROM
	default 0
	help
	  Profile to program in VPD, use 0 to skip programming.

endif # BOARD_MEC1501_ADL_PRODRIVE
